
.line {
  fill: none;
  stroke-width: 1.5px;
}

.tick line {
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.linechart.tip {
  position: absolute;
  width: 250px;
  height: 85px;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  z-index: 100;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.linechart.tip .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: auto;
}

.linechart.tip .team {
  display: flex;
  justify-content: space-between;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.background {
  fill: #E3DF9A;
}

.field {
  fill: #E3DF9A;
  stroke: blue;
}

.net {
  stroke-width: 2;
  stroke: black;
}

.zone > rect {
  // fill: #E3DF9A;
  stroke: black;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.zone.active > rect {
  fill: lightsteelblue;
}
